   <style>
        .carousel-item {
            height:32rem;
            background:#777;
            color:white;
            position: relative;        
        }
        .container{
            position: absolute;
            bottom: 0;
            left:0;
            right:0;
            padding-bottom:50px;
        }
    </style>

    <div id="myCarousel" class="carousel slide" 
    data-ride carousel>

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
        </ol>

        <div class=.carousel-inner>
            <div class="carousel-item active">
                <div class="container">
                    <h1>Welcome to Django Delights</h1>
                    <p>Please enjoy our award winning coffee!</p>
                    <a href="#" class="btn btn-lg btn-primary">
                        Sign up today
                    </a>
            </div>
            <div class="carousel-item active">
            </div>
        </div>

        <div class="container">
            <h1>Welcome to Django Delights</h1>
            <p>Please enjoy our award winning coffee!</p>
            <a href="#" class="btn btn-lg btn-primary">
                Sign up today
            </a>
    </div>

        <div class="carousel-item">
        <div class="container">
            <h1>Welcome to Django Delights</h1>
            <p>Please enjoy our award winning coffee!</p>
            <a href="#" class="btn btn-lg btn-primary">
                Sign up today
            </a>
    </div>