{% extends 'inventory/base.html' %}

{% block content %}
{% load static %}
<link rel = "stylesheet" href="{% static 'inventory/style.css' %}">

<h1> Welcome to the Menu page!</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Ingredients Used</th>
        </tr>
    </thead>
    <!-- Item is a menu item object that was created when we called this for loop. 
        object_list is a list of menu item objects created by django
        the difference between the two is item holds menuitem information held in the class
        where as object list is just a list of the objects with queryset-->
    {% for item in object_list %} 
    <tr><td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price|floatformat:2}}</td>
        <td>
            <table>
                <thead>
                    <tr>
                        <th>Menu Item Ingredients</th>
                        <th>Quantity</th>
                    </tr>
                    <!-- we want the iteration variable to be descriptive and not name clash-->
                    <!-- we know that the object created is named item so we type that name and
                    than we use dot notation to access the ingredients information
                    We do not place this information inside of thead because the data needs to be in the rows-->
                </thead>
                {% for requirement in item.requirements%}
                <!-- we know that requirement function is the method from menuitems
                it uses filter method and returns a list of recipe requirement objects
                see the code in models.py that shows that method.
                requirement is a recipe class object because the requirements function 
                used the recipe requirement class. 
                Since the function returns a list of recipe requirement objects we can access the individual
                requirements using a for loop and dot notation. we use dot notation and look at the receipe requirements model
                and choose the ingredients field to access the ingredient names -->
                <tr><td>{{requirement.ingredient}}</td>
                    <td>{{requirement.quantity}}</td>
                </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}