{% extends 'inventory/app_base.html' %}
{% block app %}
{% load static %}

<h1>Welcome to the Menu page!</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Ingredients Used</th>
      <th></th>
    </tr>
  </thead>

  <!-- Item is a menu item object that was created when we called this for loop. 
        object_list is a list of menu item objects created by django
        the difference between the two is item holds menuitem information held in the class
        where as object list is just a list of the objects with queryset-->
  {% for item in object_list %}
  <tr>
    <td>{{item.name}}</td>
    <td>{{item.description}}</td>
    <td>{{item.price|floatformat:2}}</td>
    <td>
        <button 
    hx-get={% url 'item_details' item.id %}
    hx-target="#item_rec" 
    hx-trigger="click" 
    data-bs-toggle="modal" 
    data-bs-target="#item_rec"
    class="btn btn-primary">See Details</button>   
    </td>
  </tr>
  {% endfor %}
</table>
<div id="item_rec"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

{% endblock app %}
